[Desktop Entry]
Type=Application
Name=Mira
Comment=Launch and manage native and Windows games
Exec=mira-gui
Icon=mira
Categories=Game;
Terminal=false
